In [1]:
#quandl - python package used to Get financial data directly into Python

In [12]:
import pandas as pd
import quandl
import matplotlib.pyplot as plt

In [13]:
#data

df = quandl.get("WIKI/GOOGL")

In [14]:
df.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2004-08-19,100.01,104.06,95.96,100.335,44659000.0,0.0,1.0,50.159839,52.191109,48.128568,50.322842,44659000.0
2004-08-20,101.01,109.08,100.50,108.310,22834300.0,0.0,1.0,50.661387,54.708881,50.405597,54.322689,22834300.0
2004-08-23,110.76,113.48,109.05,109.400,18256100.0,0.0,1.0,55.551482,56.915693,54.693835,54.869377,18256100.0
2004-08-24,111.24,111.60,103.57,104.870,15247300.0,0.0,1.0,55.792225,55.972783,51.945350,52.597363,15247300.0
2004-08-25,104.76,108.00,103.88,106.000,9188600.0,0.0,1.0,52.542193,54.167209,52.100830,53.164113,9188600.0

In [45]:
from datetime import datetime
f = plt.figure()
f.set_figwidth(20)
f.set_figheight(10)
  
plt.scatter(df.index[datetime.strptime('2016-08-19', '%d/%m/%y %H:%M:%S'):datetime.strptime('2018-08-19', '%d/%m/%y %H:%M:%S')], df['Open'], color='yellow')
plt.scatter(df.index[datetime.strptime('2016-08-19', '%d/%m/%y %H:%M:%S'):datetime.strptime('2018-08-19', '%d/%m/%y %H:%M:%S')], df['Close'], color='green')
plt.scatter(df.index[datetime.strptime('2016-08-19', '%d/%m/%y %H:%M:%S'):datetime.strptime('2018-08-19', '%d/%m/%y %H:%M:%S')], df['High'], color='red')
plt.xlabel('Date')
plt.ylabel('Open')
plt.show()

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (<ipython-input-45-4783d0098323>, line 5)

In [17]:
df.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Ex-Dividend', 'Split Ratio',
       'Adj. Open', 'Adj. High', 'Adj. Low', 'Adj. Close', 'Adj. Volume'],
      dtype='object')

DatetimeIndex(['2004-08-19', '2004-08-20', '2004-08-23', '2004-08-24',
               '2004-08-25', '2004-08-26', '2004-08-27', '2004-08-30',
               '2004-08-31', '2004-09-01',
               ...
               '2018-03-14', '2018-03-15', '2018-03-16', '2018-03-19',
               '2018-03-20', '2018-03-21', '2018-03-22', '2018-03-23',
               '2018-03-26', '2018-03-27'],
              dtype='datetime64[ns]', name='Date', length=3424, freq=None)